
.vs/Training/FileContentIndex/write.lock
.vs/Training/FileContentIndex/cd775c7e-647f-4cd7-a5bf-ac6a54241d84.vsidx
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/Training.AssemblyInfo.cs
