@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your training app!</h1>
    <p>On Exercises you can add exercises. After your training go to Training history and write when you did the exercise and distance.</p>
</div>
